body {
    background-color: #fcfcfc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ea477f;
}

.game-board {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.game-board__row {
    display: flex;
    flex-direction: row;
    min-height: 30px;
}

.board-tile {
    display: flex;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.modal {
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    top: 80px;
    left: 80px;
    right: 80px;
    height: 300px;
    background-color: white;
}